

 
   body{
      background-color: hsl(212, 45%, 89%)
  }
  
  .card{
     position:absolute;
     left: 50%;
     transform: translate(-50%, 25%);
     text-align: center;
     padding: 15px;
     border-radius: 10px 10px 10px 10px;
     font-size:15px;
     font-family: 'Outfit', sans-serif;
     font-weight: 400 700;
  }
 
  img{
     border-radius: 0px 0px 10px 10px;
   
 }

 